* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 42px;
}
.contact-container h1 {
  border-bottom: 2px solid rgb(228, 213, 13);
  font-size: 60px;
  margin-right: 400px;
}
.contact-container div i {
  border: 1px solid yellow;
  border-radius: 50px;
  background-color: yellow;
  font-size: 25px;
  padding: 32px;
}
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 60px 30px;
}
.brand-name {
  font-size: 36px;
  font-weight: 700;
}
.footer-col a {
  color: white;
}
.footer-col h4 {
  font-size: 18px;
  margin-bottom: 20px;
}
.footer-col p,
.footer-col a {
  margin-bottom: 6px;
  font-size: 16px;
  display: block;
}
.map-link {
  margin-top: 30px;
  font-size: 12px;
}
.social-links i {
  font-size: 22px;
  margin-right: 60px;
}
